<%= render 'shared/header', title: 'CATEGORIES', image1: '', image2: 'search.png', image3: '' %>
<%= render 'shared/mobile_menu' %>
<%= render 'shared/flash'%>
<div class="holder">
  <div class="cat-card" >
  <%= render 'shared/card1', type1: 'Total Categories', type2: @categories.count %>
  </div>
</div>
<% if @categories.empty? %>
  <p>No categories added yet</p>
<% else %>
  <% @categories.each do |category| %>
    <%= render 'shared/card2', category: category %>
  <% end %>
<% end %>
<div class='save-btn' >
<%= link_to 'Add New Category', new_category_path %>
</div>